@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;600&display=swap");
@import url(//db.onlinewebfonts.com/c/c4ffb8b3299d39d29411e154254f8fc4?family=Bebas+Neue+Thin);

$color-primary: #585858;
$color-secondary: rgb(255, 255, 255);
$black: black;
$theme-colors: (
  "background": #2b2a30,
  "edit": #20a20c,
  "start": #900a0a,
);
$box-shadow: -0.2rem 1.2rem 1rem -1px rgba(16, 16, 16, 0.537),
  0rem -1rem 3rem 1px rgba(255, 255, 255, 0.126),
  inset -0.5rem -3rem 9rem #000000;
$border-radius: 0.25rem !default;
$font: "Bebas Neue Thin", sans-serif;
$font2: "Montserrat", sans-serif;

.container {
  background: map-get($theme-colors, "background");

  color: $color-primary;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.inner {
  background: #4b4a4d90;
  box-shadow: $box-shadow;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;

  #timer {
    color: $color-secondary;

    .time {
      font-size: 196px;
      font-family: $font;
      letter-spacing: 5px;
      font-weight: 600;
      position: relative;
      top: 30px;
    }
  }

  .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 56px;

    .btn {
      border: none;
      width: 90px;
      letter-spacing: 10px;
      background: transparent;
      text-transform: uppercase;
      color: $color-secondary;
      font-family: $font2;
      line-height: 20px;
    }

    .gear {
      margin: 1.5em 0 0 0;

      .filter {
        fill: none;
        stroke: gray;
      }
    }
  }
}

.progress {
  position: relative;

  .circle {
    fill: none;
    stroke: map-get($theme-colors, "start");
    stroke-width: 7px;
    stroke-dasharray: 1550;
    stroke-dashoffset: 1550;
    animation: anim 2s linear forwards;
  }
}

@keyframes anim {
  100% {
    stroke-dashoffset: 0;
  }
}
